body {
    width: 50%;
    margin: 0 auto;
}
main section:nth-child(1) img:hover {
    /* STEP 1: blur() */
    fill-opacity: blur(25px);
}
main section:nth-child(2) img:hover {
    /* STEP 2: brightness() */
    filter: brightness(200%);
}
main section:nth-child(3) img:hover {
    /* STEP 3: contrast() */
    filter: contrast(300%);
}
main section:nth-child(4) img:hover {
    /* STEP 4: drop-shadow() */
    filter: drop-shadow(10px 7px 5px black);
}
main section:nth-child(5) img:hover {
    /* STEP 5: grayscale() */
    filter:grayscale(100);
}
main section:nth-child(6) img:hover {
    /* STEP 6: hue-rotate() */
    filter: hue-rotate(90deg);
}
main section:nth-child(7) img:hover {
    /* STEP 7: invert() */
    filter: invert(100%);
}
main section:nth-child(8) img:hover {
    /* STEP 8: opacity() */
    filter: opacity(0.5);
}
main section:nth-child(9) img:hover {
    /* STEP 9: saturate() */
    filter: saturate(50%);
}
main section:nth-child(10) img:hover {
    /* STEP 10: sepia() */
    filter: sepia(80%);
}