html {
box-sizing: border-box;
} 
*, *:before, *:after {
    box-sizing: inherit;
}
main{
	grid-template-areas: none
		"header header header"
		"subnav content advert"
		"footer footer footer";
}
header > h1{
    color: orange;
   
}

aside:nth-of-type(2){  
    border:solid 2px orange ;
    margin-left: 40px;
    width: 300px;
    box-shadow: 5px 3px 5px rgb(151, 151, 151);
}
aside{
    grid-area: subnav;
}
section{
    grid-area: advert;
    width: 600px;
}

section li p, section li h3{
    display: inline;
}
/*the colored text within "live well"*/

section:nth-of-type(1) h3 {
    color:rgb(138, 201, 45);
    text-transform: uppercase;
}

/*the colored text within "style"*/

section:nth-of-type(2) h3 {
    color: rgb(187, 14, 124);
    text-transform: uppercase;
}


/*the colored text within "health"*/

section:nth-of-type(3) h3 {
    color:rgb(55, 197, 219);
    text-transform: uppercase;
}
